@import "tailwindcss";

@theme {
  --color-space-900: #0a0a0f;
  --color-tech-cyan: #00ffff;
  --color-tech-green: #00cc66;
  --color-tech-red: #ff3333;
  --color-panel: #111218;

  --font-mono: "Space Mono", monospace;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-space-900);
    color: var(--color-slate-300);
    font-family: var(--font-sans);
    overflow: hidden;
    margin: 0;
  }
}

/* Custom Grid Background for the Map */
.bg-grid {
  background-size: 50px 50px;
  background-image:
    linear-gradient(to right, rgba(0, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 255, 255, 0.05) 1px, transparent 1px);
}

.scrolling-feed::-webkit-scrollbar {
  width: 4px;
}

.scrolling-feed::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}